body {
    font-family: Barlow,sans-serif;
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(/media/img/metal-background.jpg);
    position: relative;
    z-index: -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto 150px;
    grid-template-areas: 
    "navbar navbar"
    "main main"
    "footer footer"
    ;
}

header {
    grid-area: navbar;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}