@keyframes slide-in-right{0%{transform:translateX(1000px);opacity:0}100%{transform:translateX(0);opacity:1}}
@keyframes slide-in-bottom{0%{transform:translateY(1000px);opacity:0}100%{transform:translateY(0);opacity:1}}
@keyframes slide-in-fwd-center {0% {opacity: 0;}100% { opacity: 1;}}
@keyframes slide-in-fwd-right{0%{transform:translateZ(-1400px) translateX(1000px);opacity:0}100%{transform:translateZ(0) translateX(0);opacity:1}}

body {
    font-family: Barlow,sans-serif;
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(/media/img/metal-background.jpg);
    position: relative;
    z-index: -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto 150px;
    grid-template-areas: 
    "navbar navbar"
    "main main"
    "footer footer"
    ;
}

header {
    grid-area: navbar;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}
