.indexMain {
    background-color: rgba(52, 52, 52, 0.841);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    img {
        width: 100%;
    }
    h1 {
        color: white;
        animation:slide-in-right 1s cubic-bezier(.25,.46,.45,.94) both;
        font-size: 3rem;
        font-family: Barlow,sans-serif;
        margin: 20px 0 20px 50px;
    }
    h1::after {
        content: "";
        display: block;
        width: 726px;
        height: 2px;
        margin-top: 5px;
        background: $gold;
    } 
}


.box-articulos-index {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 5px;
    margin-bottom: 30px;
}

.card-articulos-index {
    animation:slide-in-bottom 1s cubic-bezier(.25,.46,.45,.94) both;
    background-color: rgba(255, 255, 255, 0.937);
    border-radius: 10px;
    display: flex;
    width:280px ;
    height: 75%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    
}

.card-title h3 {
    margin: 1rem 0;
    color: #01213d;
    font-size: 1.6rem;
    font-family: Barlow;
    font-weight: 800;
}


.card-image {

    margin: 1.5rem 0;
    overflow: hidden;
    a {
        display: inline-block;
        width: 100%;
        transition: transform .7s;
    }
    a:hover {
        transform: scale(1.25);
    }
    img {
        width: 100%;
    }
}


.card-price {
    display: block;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}

.entrega {
    text-align: center;
    display: flex;
    justify-content: center;
    color: #d7a461;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.cuotas {

    display: flex;
    width: 85%;
    justify-content: center;
    color: #01213d;
    font-size: 1.2rem;
    margin-bottom: 20px;
}


.card-description {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.description-item {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-right: 2px solid #01213d;
    p {
        white-space: nowrap;
    }
    img {
        width: 22px;
        height: 22px;
    }
}

.description-item:last-of-type{
    border: none;
}


.card-button {
    background-color: #01213d;
    margin-top: 3rem;
    width: 100%;
    padding: 30px 0;
    color: white;
    text-align: center;
    border-radius: 0 0 8px 8px;
    font-weight: 550;
    transition: background-color, ease .5s;
}

.card-button:hover {
    background-color: rgba(184, 184, 184, 0.373);
    color: black;
}


